[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lucasaugustodev
	email = lucas@algoricca.com
[safe]
	directory = C:/Windows/System32
